.navbar-ul {
    justify-content: space-evenly !important;

}

.bookatable-button{
margin: 0 0 0 15px;
border: 2px solid #cda45e;
color: #fff;
border-radius: 50px;
padding: 8px 25px;
text-transform: uppercase;
font-size: 13px;
font-weight: 500;
letter-spacing: 1px;
transition: 0.3s;
}
.bookatable-button:hover {
    background: #cda45e;
    color: #fff;
} 

.maindiv{
    height: 500px;
}
.headerdiv{
    height: 200px;
    width: 99%;
    margin-top: 90px;
}

.buttondiv{
    margin-top: 20px;
}
.playbuttondiv{
    width: 40%;
    position: relative;
}
.play-button{
    margin: 0 0 0 15px;
    border: 10px solid #cda45e;
    color: #fff;
    border-radius: 50%;
    padding: 35px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
   
}
.playbuttonwrapper{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto; 
}
/* .maindiv2{
    height: 500px;
} */
.section1{
    /* height: 200px; */
    padding-top: 30px;
}
/* .section2{
    height: 200px;
}
.section3{
    height: 100px;
} */
.image-link{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
} 
/* .image-link:hover{
   height: 500px;
   width: 500px; 
} */

.maindiv3-section1{
height: 150px;
}

.cards{
    margin-top: 30px;
    background-color: black;
    transition: border-bottom 2s;
}
.cards:hover {
    background-color: goldenrod;
}
.cards:hover .card-header {
    color: white;
}
.cards:hover .card-title {
    color: white;
}
.cards:hover .card-text{
    color: white;
}
.card-header{
    color: goldenrod;
    font-size: xx-large;
    background-color: transparent !important;
    border-bottom: none !important; 
}

.card-title{
    color: ghostwhite;
    font-size: x-large;
}
.subscribe-button{
    margin: 0 0 0 15px;
    border: 2px solid #cda45e;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    background-color: #cda45e;
    
    }  
    .subscribe-button:hover{
        background-color: goldenrod;
        border-color:transparent;
    }
.subscribe-inputfield{
    border-radius: 2.25rem;
    
}